<template>
  <div id="categories">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-info">
          <div class="box-header with-border">
            <div class="pull-right">
              <button class="btn btn-info" data-toggle="modal" data-target="#createCategory">Add New</button>
            </div>
            <form class="form-inline" @submit.prevent="refreshDataTable">
							<div class="form-group">
								<select id="parent-id" class="form-control" v-model="parent_id">
									<option :value="false">No Parent</option>
                  <option v-for="cat in categories" :value="cat.id">#{{cat.id}} {{cat.name}}</option>
								</select>
                <button type="submit" class="btn btn-primary">Refresh</button>
							</div>
						</form>
          </div>
          <div class="box-body">
            <table id="category-datatables" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>#ID</th>
                  <th>Name</th>
                  <th>Parent</th>
                  <th>Childs</th>
                  <th>Posts</th>
                  <th></th>
                </tr>
              </thead>
            </table>
          </div>
          <div class="overlay" v-if="process"><i class="fa fa-spinner fa-spin"></i></div>
        </div>
      </div>

      <div id="createCategory" class="modal modal-primary fade" data-backdrop="static" role="dialog" style="overflow-y:visible;">
        <div class="modal-dialog">
          <div class="modal-content">
            <form class="form-horizontal form-bordered" @submit.prevent="createCategory">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" :disabled="process">&times;</button>
                <h4 class="modal-title">New Category</h4>
              </div>

              <div class="modal-body">
                <div class="form-group">
                  <label class="control-label col-md-3" for="defaultData-name">Category Name</label>
                  <div class="col-md-9">
                    <input type="text" id="defaultData-name" class="form-control" v-model="defaultData.name" required>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3" for="defaultData-parent_id">Parent</label>
    							<div class="col-md-9">
                    <select id="defaultData-parent_id" class="form-control" v-model="defaultData.parent_id">
                      <option :value="false">No Parent</option>
                      <option v-for="cat in categories" :value="cat.id">#{{cat.id}} {{cat.name}}</option>
                    </select>
    							</div>
    						</div>
    					</div>

    					<div class="modal-footer">
    						<button type="button" class="btn btn-outline pull-left" data-dismiss="modal" :disabled="process">Close</button>
    						<button type="submit" class="btn btn-outline" :disabled="process">
    							<span v-if="process"><i class="fa fa-refresh fa-spin"></i> Creating...</span>
    							<span v-else>Create</span>
    						</button>
    					</div>
    				</form>
    			</div>
    		</div>
    	</div>

      <div id="updateCategory" class="modal modal-primary fade" data-backdrop="static" role="dialog" style="overflow-y:visible;">
        <div class="modal-dialog">
          <div class="modal-content">
            <form class="form-horizontal form-bordered" @submit.prevent="updateCategory">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" :disabled="process">&times;</button>
                <h4 class="modal-title">Edit Category</h4>
              </div>

              <div class="modal-body">
                <div class="form-group">
                  <label class="control-label col-md-3" for="current-name">Category Name</label>
                  <div class="col-md-9">
                    <input type="text" id="current-name" class="form-control" v-model="current.name" required>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3" for="current-priority">Parent</label>
                  <div class="col-md-9">
                    <select id="current-parent_id" class="form-control" v-model="current.parent_id">
                      <option :value="false">No Parent</option>
                      <option v-for="cat in categories" :value="cat.id" v-if="cat.id != current.id">#{{cat.id}} {{cat.name}}</option>
                    </select>
    							</div>
    						</div>
    					</div>

    					<div class="modal-footer">
    						<button type="button" class="btn btn-outline pull-left" data-dismiss="modal" :disabled="process">Close</button>
    						<button type="submit" class="btn btn-outline" :disabled="process">
    							<span v-if="process"><i class="fa fa-refresh fa-spin"></i> Updating...</span>
    							<span v-else>Update</span>
    						</button>
    					</div>
    				</form>
    			</div>
    		</div>
    	</div>

      <div id="deleteCategory" class="modal modal-danger fade" data-backdrop="static" role="dialog" style="overflow-y:visible;">
        <div class="modal-dialog">
          <div class="modal-content">
            <form class="form-horizontal form-bordered" @submit.prevent="deleteCategory">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" :disabled="process">&times;</button>
                <h4 class="modal-title">Delete Category</h4>
              </div>
              <div class="modal-body">
                <p>Are you sure, want to delete this Category <strong class="bg-yellow" v-html="current.name"></strong>?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" :disabled="process">Close</button>
                <button type="submit" class="btn btn-outline" :disabled="process">
                  <span v-if="process"><i class="fa fa-refresh fa-spin"></i> Deleting...</span>
                  <span v-else>Delete</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>


    </div>
  </div>
</template>

<script>
  export default {
    data(){
      return {
        dataTables:{},
				current: {},
				defaultData: {
          parent_id: false
        },
				categories: {},
        process: false,
				parent_id: false,
      }
    },
    mounted(){
      this.loadDataTables();
      this.getCategories();
    },
    methods: {
      createCategory(){
        axios.post(window.Laravel.admin_url+'/ajax/post/createCategory',{category:this.defaultData}).then(
          response => {
            this.process = false;
            toastr.success("New Category Added.");
            $("#createCategory").modal("hide");
            this.getCategories();
            this.dataTables.ajax.reload();
          },
          error => {
            this.process = false;
            var message = "Unknown Response."
            if(typeof error.response !== 'undefined' && typeof error.response.data !== 'undefined' && typeof error.response.data.message !== 'undefined')
              message = error.response.data.message;
            toastr.error(message);
          }
        );
      },
      updateCategory(){
        axios.post(window.Laravel.admin_url+'/ajax/post/updateCategory',{category_id:this.current.id,category:this.current}).then(
          response => {
            this.process = false;
            toastr.success("Category Updated.");
            $("#updateCategory").modal("hide");
            this.getCategories();
            this.dataTables.ajax.reload();
          },
          error => {
            this.process = false;
            var message = "Unknown Response."
            if(typeof error.response !== 'undefined' && typeof error.response.data !== 'undefined' && typeof error.response.data.message !== 'undefined')
              message = error.response.data.message;
            toastr.error(message);
          }
        );
      },
      deleteCategory(){
        axios.post(window.Laravel.admin_url+'/ajax/post/deleteCategory',{category_id:this.current.id}).then(
          response => {
            this.process = false;
            toastr.success("Category and "+ response.data.products_deleted +" products Deleted.");
            $("#deleteCategory").modal("hide");
            this.getCategories();
            this.dataTables.ajax.reload();
          },
          error => {
            this.process = false;
            var message = "Unknown Response."
            if(typeof error.response !== 'undefined' && typeof error.response.data !== 'undefined' && typeof error.response.data.message !== 'undefined')
              message = error.response.data.message;
            toastr.error(message);
          }
        );
      },
      getCategories(){
        this.process = true;
        axios.post(window.Laravel.admin_url+'/ajax/get/categories').then(
          response => {
            this.categories = response.data;
            this.process = false;
          }
        );
      },
      refreshDataTable: function(){
        this.dataTables.ajax.reload();
      },
      loadDataTables(){
        var _this = this;
        this.dataTables = $('#category-datatables').DataTable({
          processing:true,
          serverSide:true,
          ajax: {
            url: window.Laravel.admin_url+'/ajax/datatable/categories',
            type: 'POST',
            data: function (d) {
              if(_this.parent_id)
                d.parent_id = _this.parent_id ;
            },
            headers: { 'X-CSRF-TOKEN': window.csrfToken }
          },
          columns: [
            { data: 'id', name: 'id' },
            { data: 'name', name: 'name' },
            {
              data: 'parent_id',
              render: function(data, type, row){
                if(data)
                  return '#'+data+ ' ' +row.parent;
                else
                  return '';
              }
						},
            {
              className: 'text-center',
              orderable: false,
              searchable: false,
              data: 'childs',
              render: function(data, type, row){
                return '<a href="#" class="show-childs" title="Show Childs">'+data+'</a>';
              }
						},
            {
              className: 'text-center',
              orderable: false,
              searchable: false,
              data: 'posts',
              render: function(data, type, row){
                return '<a href="/admin/posts#'+ row.id +'" class="show-posts" title="Show Posts" target="_blank">'+data+'</a>';
              }
						},
            {
              data: null,
              render: function(data,type,row){
                var button = '<button type="button" class="btn btn-xs btn-success edit-category" title="Edit"><i class="fa fa-edit"></i></button>';
                button += ' <button type="button" class="btn btn-xs btn-danger delete-category" title="Delete"><i class="fa fa-trash-o"></i></button>';
                button += ' <a href="'+ row.url +'" class="btn btn-xs btn-primary open-category" title="View" target="_blank"><i class="fa fa-external-link"></i></a>';
                return button;
              },
              className: 'text-center',
              orderable:false,
              searchable:false
            }
          ],
          initComplete: function(){
            $('#category-datatables tbody').on('click', 'td button.delete-category', function () {
              var trStats = $(this).closest('tr');
              var rowStats = _this.dataTables.row( trStats );
              var current = rowStats.data();
              _this.current = current;
              $("#deleteCategory").modal();
            });
            $('#category-datatables tbody').on('click', 'td button.edit-category', function () {
              var trStats = $(this).closest('tr');
              var rowStats = _this.dataTables.row( trStats );
              var current = rowStats.data();
              _this.current = current;
              $("#updateCategory").modal();
            });
            $('#category-datatables tbody').on('click', 'td a.show-childs', function (e) {
              e.preventDefault();
              var trStats = $(this).closest('tr');
              var rowStats = _this.dataTables.row( trStats );
              var current = rowStats.data();
              _this.parent_id = current.id;
              _this.refreshDataTable();
            });
          }
        });
      }
    }
  }
</script>
