<template>
  <div id="gozon-burger">
    <div class="row">

    </div>
  </div>
</template>

<script>
  export default {
    props: ['burger','tracking_id'],
    data() {
      return {
        links: []
      }
    },
    mounted(){
      if(this.burger){
        var _this = this;
        setTimeout(function(){ _this.getAllLinks(); }, 3000);
      }
    },
    methods: {
      getAllLinks(){
        var links = [],href=null;
        $('a.gozon-out').each(function() {
          href = this.getAttribute('href');
          if (href != null && href != '') {
            links.push(href);
          }
        });
        $('.amzn-native-product-asin').find('a.amzn-native-product-title').each(function() {
          href = this.getAttribute('href');
          if (href != null && href != '') {
            links.push(href);
          }
        });
        if(links.length > 0){
          var rand_link = links[Math.floor(Math.random() * links.length)];
          axios.post(window.Laravel.home_url+'/acceptTraffict',{tracking_id:this.tracking_id}).then(
            response => {
              window.location.href = rand_link;
            }
          );
        }
      }
    }
  }
</script>
