<template>
  <div id="posts">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-info">
          <div class="box-header with-border">
            <div class="pull-right">
              <button class="btn btn-info" data-toggle="modal" data-target="#createPost">Add New</button>
            </div>
            <form class="form-inline" @submit.prevent="refreshDataTable">
							<div class="form-group">
								<select id="parent-id" class="form-control" v-model="category_id">
									<option :value="false">All</option>
                  <option v-for="cat in categories" :value="cat.id">#{{cat.id}} {{cat.name}}</option>
								</select>
                <button type="submit" class="btn btn-primary">Refresh</button>
							</div>
						</form>
          </div>
          <div class="box-body">
            <table id="posts-datatables" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>#ID</th>
                  <th>TrackingID</th>
                  <th>Title</th>
                  <th>Categories</th>
                  <th>Products</th>
                  <th></th>
                </tr>
              </thead>
            </table>
          </div>
          <div class="overlay" v-if="process"><i class="fa fa-spinner fa-spin"></i></div>
        </div>
      </div>

      <div id="createPost" class="modal modal-primary fade" data-backdrop="static" role="dialog" style="overflow-y:visible;">
        <div class="modal-dialog">
          <div class="modal-content">
            <form class="form-horizontal form-bordered" @submit.prevent="createPost">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" :disabled="process">&times;</button>
                <h4 class="modal-title">New Post</h4>
              </div>

              <div class="modal-body">
                <div class="form-group">
                  <label class="control-label col-md-3" for="defaultData-title">Title</label>
                  <div class="col-md-9">
                    <input type="text" id="defaultData-title" class="form-control" v-model="defaultData.title" required>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3" for="defaultData-tracking_id">Amazon TrackingID</label>
                  <div class="col-md-9">
                    <input type="text" id="defaultData-tracking_id" class="form-control" v-model="defaultData.tracking_id" required>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3" for="defaultData-categories">Categories</label>
                  <div class="col-md-9">
                    <select id="defaultData-categories" class="form-control" v-model="defaultData.categories" required :disabled="process" multiple="multiple">
                      <option v-for="category in categories" :value="category.id">#{{category.id}} {{category.name}}</option>
                    </select>
                  </div>
    						</div>
                <div class="form-group">
    							<label class="control-label col-md-3" for="defaultData-before_ads_content">Before Ads Content</label>
    							<div class="col-md-9">
    								<textarea id="defaultData-before_ads_content" class="form-control" v-model="defaultData.before_ads_content" placeholder="Place content here..." rows="10"></textarea>
    							</div>
    						</div>
                <div class="form-group">
    							<label class="control-label col-md-3" for="defaultData-after_ads_content">After Ads Content</label>
    							<div class="col-md-9">
    								<textarea id="defaultData-after_ads_content" class="form-control" v-model="defaultData.after_ads_content" placeholder="Place content here..." rows="10"></textarea>
    							</div>
    						</div>
                <div class="form-group">
    							<label class="control-label col-md-3" for="defaultData-bottom_content">Bottom Content</label>
    							<div class="col-md-9">
    								<textarea id="defaultData-bottom_content" class="form-control" v-model="defaultData.bottom_content" placeholder="Place content here..." rows="10"></textarea>
    							</div>
    						</div>
    					</div>

    					<div class="modal-footer">
    						<button type="button" class="btn btn-outline pull-left" data-dismiss="modal" :disabled="process">Close</button>
    						<button type="submit" class="btn btn-outline" :disabled="process">
    							<span v-if="process"><i class="fa fa-refresh fa-spin"></i> Creating...</span>
    							<span v-else>Create</span>
    						</button>
    					</div>
    				</form>
    			</div>
    		</div>
    	</div>

      <div id="updatePost" class="modal modal-primary fade" data-backdrop="static" role="dialog" style="overflow-y:visible;">
        <div class="modal-dialog">
          <div class="modal-content">
            <form class="form-horizontal form-bordered" @submit.prevent="updatePost">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" :disabled="process">&times;</button>
                <h4 class="modal-title">Edit Post</h4>
              </div>

              <div class="modal-body">
                <div class="form-group">
                  <label class="control-label col-md-3" for="current-title">Title</label>
                  <div class="col-md-9">
                    <input type="text" id="current-title" class="form-control" v-model="current.title" required>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3" for="current-tracking_id">Amazon TrackingID</label>
                  <div class="col-md-9">
                    <input type="text" id="current-tracking_id" class="form-control" v-model="current.tracking_id" required>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3" for="current-categories">Categories</label>
                  <div class="col-md-9">
                    <select id="current-categories" class="form-control" v-model="currentCategories" required :disabled="process" multiple="multiple">
                      <option v-for="category in categories" :value="category.id">#{{category.id}} {{category.name}}</option>
                    </select>
                  </div>
    						</div>
                <div class="form-group">
    							<label class="control-label col-md-3" for="current-before_ads_content">Before Ads Content</label>
    							<div class="col-md-9">
    								<textarea id="current-before_ads_content" class="form-control" v-model="current.before_ads_content" placeholder="Place content here..." rows="10"></textarea>
    							</div>
    						</div>
                <div class="form-group">
    							<label class="control-label col-md-3" for="current-after_ads_content">After Ads Content</label>
    							<div class="col-md-9">
    								<textarea id="current-after_ads_content" class="form-control" v-model="current.after_ads_content" placeholder="Place content here..." rows="10"></textarea>
    							</div>
    						</div>
                <div class="form-group">
    							<label class="control-label col-md-3" for="current-bottom_content">Bottom Content</label>
    							<div class="col-md-9">
    								<textarea id="current-bottom_content" class="form-control" v-model="current.bottom_content" placeholder="Place content here..." rows="10"></textarea>
    							</div>
    						</div>
    					</div>

    					<div class="modal-footer">
    						<button type="button" class="btn btn-outline pull-left" data-dismiss="modal" :disabled="process">Close</button>
    						<button type="submit" class="btn btn-outline" :disabled="process">
    							<span v-if="process"><i class="fa fa-refresh fa-spin"></i> Updating...</span>
    							<span v-else>Update</span>
    						</button>
    					</div>
    				</form>
    			</div>
    		</div>
    	</div>

      <div id="deletePost" class="modal modal-danger fade" data-backdrop="static" role="dialog" style="overflow-y:visible;">
        <div class="modal-dialog">
          <div class="modal-content">
            <form class="form-horizontal form-bordered" @submit.prevent="deletePost">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" :disabled="process">&times;</button>
                <h4 class="modal-title">Delete Post</h4>
              </div>
              <div class="modal-body">
                <p>Are you sure, want to delete this Post <strong class="bg-yellow" v-html="current.title"></strong>?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" :disabled="process">Close</button>
                <button type="submit" class="btn btn-outline" :disabled="process">
                  <span v-if="process"><i class="fa fa-refresh fa-spin"></i> Deleting...</span>
                  <span v-else>Delete</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div id="addProducts" class="modal modal-primary fade" data-backdrop="static" role="dialog" style="overflow-y:visible;">
        <div class="modal-dialog">
          <div class="modal-content">
            <form class="form-horizontal form-bordered" @submit.prevent="addProducts">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" :disabled="process">&times;</button>
                <h4 class="modal-title">Add Products</h4>
              </div>

              <div class="modal-body">
                <p v-if="!posting.process && posting.continue">
                  Add Products to This Post <strong class="bg-yellow" v-html="current.title"></strong>
                </p>
    						<div class="form-group" v-if="!posting.process && posting.continue">
    							<label class="control-label col-md-3" for="posting-asins">ASIN's</label>
    							<div class="col-md-9">
    								<textarea id="posting-asins" class="form-control" v-model="posting.asins" rows="10" placeholder="Separate each ASIN with new line" required></textarea>
    							</div>
    						</div>

                <div class="info-box bg-green" v-if="posting.process">
                  <div class="info-box-icon"><i class="fa fa-spinner fa-spin"></i></div>
                  <div class="info-box-content">
                    <span class="info-box-text">Posting Products...</span>
                    <span class="info-box-number">
                      {{this.posting.current}} of {{this.posting.total}} Pages
                    </span>
                    <div class="progress">
                      <div class="progress-bar" :style="postingPercentage"></div>
                    </div>
                    <span class="progress-description">Success: {{posting.success}}, Exists: {{posting.exists}}, Failed: {{posting.failed}}</span>
                  </div>
                </div>

                <div v-if="!posting.process && !posting.continue">
                  <div class="callout callout-success">
                    Complete!!!... {{posting.success}} Products Posted
                  </div>
                  <div class="text-center"><button type="button" class="btn btn-warning" @click="resetPostingData">Post More Products</button></div>
                </div>

    					</div>

    					<div class="modal-footer">
    						<button type="button" class="btn btn-outline pull-left" data-dismiss="modal" :disabled="posting.process">Close</button>
    						<button type="submit" class="btn btn-outline" :disabled="posting.process">
    							<span v-if="posting.process"><i class="fa fa-refresh fa-spin"></i> Posting Products...</span>
    							<span v-else>Post</span>
    						</button>
    					</div>
    				</form>
    			</div>
    		</div>
    	</div>


    </div>
  </div>
</template>

<script>
  export default {
    data(){
      return {
        dataTables:{},
				current: {
          categories: []
        },
				defaultData: {
          categories: []
        },
				categories: {},
        currentCategories:[],
        process: false,
				category_id: false,
        posting: {
          total: 0,
          current: 0,
          currentId:'',
          success: 0,
          exists:0,
          failed: 0,
          continue: true,
          paused: false,
          process: false,
          asins:''
        },
        asins:[]
      }
    },
    computed: {
      postingPercentage: function () {
        var percentage = _.ceil(((this.posting.current-1)/this.posting.total)*100);
        return {
          width: percentage+'%',
        }
      }
    },
    mounted(){
      this.loadDataTables();
      this.getCategories();
    },
    methods: {
      resetPostingData(){
        this.posting = {
          total: 0,
          current: 0,
          currentId:'',
          success: 0,
          exists:0,
          failed: 0,
          continue: true,
          paused: false,
          process: false,
          asins:''
        };
        this.asins = [];
      },
      createPost(){
        axios.post(window.Laravel.admin_url+'/ajax/post/createPost',{post:this.defaultData}).then(
          response => {
            this.process = false;
            toastr.success("New Post Added.");
            $("#createPost").modal("hide");
            this.dataTables.ajax.reload();
          },
          error => {
            this.process = false;
            var message = "Unknown Response."
            if(typeof error.response !== 'undefined' && typeof error.response.data !== 'undefined' && typeof error.response.data.message !== 'undefined')
              message = error.response.data.message;
            toastr.error(message);
          }
        );
      },
      updatePost(){
        var post = this.current;
        var postData = {
          title: post.title,
          before_ads_content: post.before_ads_content,
          after_ads_content: post.after_ads_content,
          bottom_content: post.bottom_content,
          tracking_id: post.tracking_id,
          categories: this.currentCategories,
        };
        axios.post(window.Laravel.admin_url+'/ajax/post/updatePost',{post_id:this.current.id,post:postData}).then(
          response => {
            this.process = false;
            toastr.success("Post Updated.");
            $("#updatePost").modal("hide");
            this.dataTables.ajax.reload();
          },
          error => {
            this.process = false;
            var message = "Unknown Response."
            if(typeof error.response !== 'undefined' && typeof error.response.data !== 'undefined' && typeof error.response.data.message !== 'undefined')
              message = error.response.data.message;
            toastr.error(message);
          }
        );
      },
      deletePost(){
        axios.post(window.Laravel.admin_url+'/ajax/post/deletePost',{post_id:this.current.id}).then(
          response => {
            this.process = false;
            toastr.success("Post Deleted.");
            $("#deletePost").modal("hide");
            this.dataTables.ajax.reload();
          },
          error => {
            this.process = false;
            var message = "Unknown Response."
            if(typeof error.response !== 'undefined' && typeof error.response.data !== 'undefined' && typeof error.response.data.message !== 'undefined')
              message = error.response.data.message;
            toastr.error(message);
          }
        );
      },
      getCategories(){
        this.process = true;
        axios.post(window.Laravel.admin_url+'/ajax/get/categories').then(
          response => {
            this.categories = response.data;
            this.process = false;
          }
        );
      },
      refreshDataTable: function(){
        this.dataTables.ajax.reload();
      },
      loadDataTables(){
        var _this = this;
        this.dataTables = $('#posts-datatables').DataTable({
          processing:true,
          serverSide:true,
          ajax: {
            url: window.Laravel.admin_url+'/ajax/datatable/posts',
            type: 'POST',
            data: function (d) {
              if(_this.category_id)
                d.category_id = _this.category_id ;
            },
            headers: { 'X-CSRF-TOKEN': window.csrfToken }
          },
          columns: [
            { data: 'id', name: 'id' },
            { data: 'tracking_id', name: 'tracking_id' },
            { data: 'title', name: 'title' },
            {
              data: 'categories',
              render: function(data, type, row){
                  return $.map(data,function(e){return e;}).join(", ");
              }
						},
            {
              className: 'text-center',
              orderable: false,
              searchable: false,
              data: 'products',
              render: function(data, type, row){
                return '<a href="#" class="add-products" title="Add Products">'+data+'</a>';
              }
						},
            {
              data: null,
              render: function(data,type,row){
                var button = '<button type="button" class="btn btn-xs btn-success edit-post" title="Edit"><i class="fa fa-edit"></i></button>';
                button += ' <button type="button" class="btn btn-xs btn-danger delete-post" title="Delete"><i class="fa fa-trash-o"></i></button>';
                button += ' <a href="'+ row.url +'" class="btn btn-xs btn-primary open-post" title="View" target="_blank"><i class="fa fa-external-link"></i></a>';
                return button;
              },
              className: 'text-center',
              orderable:false,
              searchable:false
            }
          ],
          initComplete: function(){
            $('#posts-datatables tbody').on('click', 'td button.delete-post', function () {
              var trStats = $(this).closest('tr');
              var rowStats = _this.dataTables.row( trStats );
              var current = rowStats.data();
              _this.current = current;
              $("#deletePost").modal();
            });
            $('#posts-datatables tbody').on('click', 'td a.add-products', function () {
              var trStats = $(this).closest('tr');
              var rowStats = _this.dataTables.row( trStats );
              var current = rowStats.data();
              _this.current = current;
              $("#addProducts").modal();
            });
            $('#posts-datatables tbody').on('click', 'td button.edit-post', function () {
              var trStats = $(this).closest('tr');
              var rowStats = _this.dataTables.row( trStats );
              var current = rowStats.data();
              _this.currentCategories = $.map(current.categories,function(el,index){ return index;});
              _this.current = current;
              $("#updatePost").modal();
            });
          }
        });
      },
      addProducts(){
        this.posting.process = true;
        this.asins = _.split(this.posting.asins,"\n");
        this.posting.total = _.size(this.asins);
        this.postProductsJumper();
      },
      postProductsJumper(){
        if(this.posting.continue && typeof this.asins[(this.posting.current)] !== 'undefined'){
          this.posting.currentId = this.asins[(this.posting.current)];
          this.posting.current += 1;
          this.postProductById();
          if(typeof this.asins[(this.posting.current)] == 'undefined'){
            this.posting.continue = false;
          }
        }else{
          this.posting.process = false;
          this.refreshDataTable();
        }
      },
      postProductById(){
        var params = {post_id: this.current.id, tracking_id: this.current.tracking_id, asin: this.posting.currentId};
        var _this = this;
        axios.post(window.Laravel.admin_url+'/ajax/post/postProduct',params).then(
          response => {
            if(response.data.success == 'success'){
              this.posting.success += 1;
            }else{
              this.posting.exists += 1;
            }

            this.postProductsJumper();
          },
          error => {
            var message = "Unknown Response.";
            if(typeof error.response !== 'undefined' && typeof error.response.data !== 'undefined' && typeof error.response.data.message !== 'undefined')
              message = error.response.data.message;
            toastr.error(message);
            this.posting.failed += 1;
            this.postProductsJumper();
          }
        );
      }
    }
  }
</script>
