<template>
  <div id="products">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-info">
          <div class="box-header with-border">
            <form class="form-inline" @submit.prevent="refreshDataTable">
							<div class="form-group">
								<select id="parent-id" class="form-control" v-model="post_id">
									<option :value="false">All</option>
                  <option v-for="cat in posts" :value="cat.id">#{{cat.id}} {{cat.title}}</option>
								</select>
                <button type="submit" class="btn btn-primary">Refresh</button>
							</div>
						</form>
          </div>
          <div class="box-body">
            <table id="product-datatables" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Priority</th>
                  <th>ASIN</th>
                  <th>Product Title</th>
                  <th>Vendor</th>
                  <th></th>
                </tr>
              </thead>
            </table>
          </div>
          <div class="overlay" v-if="process"><i class="fa fa-spinner fa-spin"></i></div>
        </div>
      </div>

      <div id="updateProduct" class="modal modal-primary fade" data-backdrop="static" role="dialog" style="overflow-y:visible;">
        <div class="modal-dialog">
          <div class="modal-content">
            <form class="form-horizontal form-bordered" @submit.prevent="updateProduct">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" :disabled="process">&times;</button>
                <h4 class="modal-title">Edit Product</h4>
              </div>

              <div class="modal-body">
                <div class="form-group">
                  <label class="control-label col-md-3" for="current-post_id">Post</label>
                  <div class="col-md-9">
                    <select id="current-post_id" class="form-control" v-model="current.post_id" required>
                      <option v-for="post in posts" :value="post.id">#{{post.id}} {{post.title}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3" for="current-title">Title</label>
                  <div class="col-md-9">
                    <input type="text" id="current-title" class="form-control" v-model="current.title" required>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3" for="current-asin">ASIN</label>
                  <div class="col-md-9">
                    <input type="text" id="current-asin" class="form-control" v-model="current.asin" required>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3" for="current-priority">Priority</label>
                  <div class="col-md-9">
                    <input type="number" id="current-priority" class="form-control" v-model="current.priority" required>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3" for="current-vendor">Vendor</label>
                  <div class="col-md-9">
                    <input type="text" id="current-vendor" class="form-control" v-model="current.vendor" required>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3" for="current-product_url">Affiliate URL</label>
                  <div class="col-md-9">
                    <input type="text" id="current-product_url" class="form-control" v-model="current.product_url" required>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3" for="current-images">Images</label>
                  <div class="col-md-9">
                    <textarea id="current-images" class="form-control" v-model="currentImages" placeholder="Place Image URL or amazon image code here, separate each image with new line..." rows="10" required></textarea>
                  </div>
                </div>
                <div class="form-group">
    							<label class="control-label col-md-3" for="current-description">Description</label>
    							<div class="col-md-9">
    								<textarea id="current-description" class="form-control" v-model="current.description" placeholder="Place content here..." rows="10"></textarea>
    							</div>
    						</div>
    					</div>

    					<div class="modal-footer">
    						<button type="button" class="btn btn-outline pull-left" data-dismiss="modal" :disabled="process">Close</button>
    						<button type="submit" class="btn btn-outline" :disabled="process">
    							<span v-if="process"><i class="fa fa-refresh fa-spin"></i> Updating...</span>
    							<span v-else>Update</span>
    						</button>
    					</div>
    				</form>
    			</div>
    		</div>
    	</div>

      <div id="deleteProduct" class="modal modal-danger fade" data-backdrop="static" role="dialog" style="overflow-y:visible;">
        <div class="modal-dialog">
          <div class="modal-content">
            <form class="form-horizontal form-bordered" @submit.prevent="deleteProduct">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" :disabled="process">&times;</button>
                <h4 class="modal-title">Delete Product</h4>
              </div>
              <div class="modal-body">
                <p>Are you sure, want to delete this Product <strong class="bg-yellow">{{current.title}}</strong>?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" :disabled="process">Close</button>
                <button type="submit" class="btn btn-outline" :disabled="process">
                  <span v-if="process"><i class="fa fa-refresh fa-spin"></i> Deleting...</span>
                  <span v-else>Delete</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>


    </div>
  </div>
</template>

<script>
  export default {
    data(){
      return {
        dataTables:{},
        current: {},
        currentImages: '',
        posts: {},
				post_id: false,
				process: false,
      }
    },
    mounted(){
      this.process = true;
      axios.post(window.Laravel.admin_url+'/ajax/get/posts').then(
        response => {
          this.posts = response.data;
          var id = window.location.hash.substr(1);
          if(id){
            var z = _.find(response.data,function(o) { return o.id == id; });
            if(typeof z != 'undefined'){
              this.post_id = id;
              this.posting.posts = [id];
            }
          }
          this.loadDataTables();
          this.process = false;
        }
      );
    },
    computed: {
      postingPercentage: function () {
        var percentage = _.ceil((this.posting.current/this.posting.total)*100);
        return {
          width: percentage+'%',
        }
      }
    },
    methods: {
      getPosts(){
        this.process = true;
        axios.post(window.Laravel.admin_url+'/ajax/get/posts').then(
          response => {
            this.posts = response.data;
            this.process = false;
          }
        );
      },
      deleteProduct(){
        axios.post(window.Laravel.admin_url+'/ajax/post/deleteProduct',{product_id:this.current.id}).then(
          response => {
            this.process = false;
            toastr.success("Product Deleted.");
            $("#deleteProduct").modal("hide");
            this.dataTables.ajax.reload();
          },
          error => {
            this.process = false;
            var message = "Unknown Response."
            if(typeof error.response !== 'undefined' && typeof error.response.data !== 'undefined' && typeof error.response.data.message !== 'undefined')
              message = error.response.data.message;
            toastr.error(message);
          }
        );
      },
      updateProduct(){
        this.current.images = _.split(this.currentImages,"\n");
        var product = {
          title: this.current.title,
          asin: this.current.asin,
          product_url: this.current.product_url,
          post_id: this.current.post_id,
          priority: this.current.priority,
          vendor: this.current.vendor,
          description: this.current.description,
          images: this.current.images,
        };
        axios.post(window.Laravel.admin_url+'/ajax/post/updateProduct',{product_id:this.current.id,product:product}).then(
          response => {
            this.process = false;
            toastr.success("Product Updated.");
            $("#updateProduct").modal("hide");
            this.dataTables.ajax.reload();
          },
          error => {
            this.process = false;
            var message = "Unknown Response."
            if(typeof error.response !== 'undefined' && typeof error.response.data !== 'undefined' && typeof error.response.data.message !== 'undefined')
              message = error.response.data.message;
            toastr.error(message);
          }
        );
      },
      loadDataTables(){
        var _this = this;
        this.dataTables = $('#product-datatables').DataTable({
          processing:true,
          serverSide:true,
          ajax: {
            url: window.Laravel.admin_url+'/ajax/datatable/products',
            type: 'POST',
            data: function (d) {
              if(_this.post_id)
                d.post_id = _this.post_id ;
            },
            headers: { 'X-CSRF-TOKEN': window.csrfToken }
          },
          columns: [
            { data: 'priority', name: 'priority' },
            { data: 'asin', name: 'asin' },
            {
              data: 'title',
              render: function(data, type, row){
                var content = '<div class="user-block">';
                content += '<img class="img-circle img-bordered-sm" src="'+row.image_url+'">';
                content += '<span class="username"><a href="https://www.amazon.com/dp/'+ row.asin +'" target="_blank">'+data+'</a></span>';
                content += '</div>';
                return content;
              }
            },
            {data: 'vendor', name: 'vendor'},
            {
              data: null,
              render: function(data,type,row){
                var button = ' <button type="button" class="btn btn-xs btn-success edit-product" title="Edit"><i class="fa fa-edit"></i></button>';
                button += ' <button type="button" class="btn btn-xs btn-danger delete-product" title="Delete"><i class="fa fa-trash-o"></i></button>';
                return button;
              },
              className: 'text-center',
              orderable:false,
              searchable:false
            }
          ],
          initComplete: function(){
            $('#product-datatables tbody').on('click', 'td button.delete-product', function () {
              var trStats = $(this).closest('tr');
              var rowStats = _this.dataTables.row( trStats );
              var current = rowStats.data();
              _this.current = current;
              $("#deleteProduct").modal();
            });
            $('#product-datatables tbody').on('click', 'td button.edit-product', function () {
              var trStats = $(this).closest('tr');
              var rowStats = _this.dataTables.row( trStats );
              var current = rowStats.data();
              _this.current = current;
              _this.currentImages = _.join(current.images,"\n");
              $("#updateProduct").modal();
            });
          }
        });
      },
      refreshDataTable: function(){
        this.dataTables.ajax.reload();
      },
    }
  }
</script>
