<template>
  <div id="api-settings">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-info">
          <form method="POST" class="form-horizontal" @submit.prevent="updateAmazonApi">
            <div class="box-body">
              <div class="form-group">
                <label for="api-api_key" class="col-sm-2 control-label">Access Key</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="api-api_key" v-model="api.api_key" required>
                </div>
              </div>
              <div class="form-group">
                <label for="api-api_secret_key" class="col-sm-2 control-label">Secret Key</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="api-api_secret_key" v-model="api.api_secret_key" required>
                </div>
              </div>
            </div>
            <div class="box-footer">
              <button type="submit" class="btn btn-info pull-right">Save changes</button>
            </div>
          </form>
          <div class="overlay" v-if="process"><i class="fa fa-spinner fa-spin"></i></div>
        </div>
      </div>


    </div>
  </div>
</template>

<script>
  export default {
    data(){
      return {
        api: {},
				process: false,
      }
    },
    mounted(){
      this.getAmazonApi();
    },
    methods: {
      updateAmazonApi(){
        axios.post(window.Laravel.admin_url+'/ajax/post/updateGoZon',{name:'amazon-api',values:this.api}).then(
          response => {
            this.process = false;
            toastr.success("Amazon API Updated.");
          },
          error => {
            this.process = false;
            var message = "Unknown Response."
            if(typeof error.response !== 'undefined' && typeof error.response.data !== 'undefined' && typeof error.response.data.message !== 'undefined')
              message = error.response.data.message;
            toastr.error(message);
          }
        );
      },
      getAmazonApi(){
        this.process = true;
        axios.post(window.Laravel.admin_url+'/ajax/get/config',{name:'gozon.amazon-api'}).then(
          response => {
            this.api = response.data;
            this.process = false;
          }
        );
      },
    }
  }
</script>
