<template>
  <div id="general-settings">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-info">
          <form method="POST" class="form-horizontal" @submit.prevent="updateGeneral">
            <div class="box-body">
              <div class="form-group">
                <label for="general-site_name" class="col-sm-2 control-label">Site Name</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="general-site_name" v-model="general.site_name" required>
                </div>
              </div>
              <div class="form-group">
                <label for="general-keyword" class="col-sm-2 control-label">Keyword</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="general-keyword" v-model="general.keyword" required>
                </div>
              </div>
              <div class="form-group">
                <label for="general-description" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                  <textarea class="form-control" id="general-description" v-model="general.description" required></textarea>
                </div>
              </div>
            </div>
            <div class="box-footer">
              <button type="submit" class="btn btn-info pull-right">Save changes</button>
            </div>
          </form>
          <div class="overlay" v-if="process"><i class="fa fa-spinner fa-spin"></i></div>
        </div>
      </div>


    </div>
  </div>
</template>

<script>
  export default {
    data(){
      return {
        general: {},
				process: false,
      }
    },
    mounted(){
      this.getGeneral();
    },
    methods: {
      updateGeneral(){
        axios.post(window.Laravel.admin_url+'/ajax/post/updateGoZon',{name:'general',values:this.general}).then(
          response => {
            this.process = false;
            toastr.success("General Settings Updated.");
          },
          error => {
            this.process = false;
            var message = "Unknown Response."
            if(typeof error.response !== 'undefined' && typeof error.response.data !== 'undefined' && typeof error.response.data.message !== 'undefined')
              message = error.response.data.message;
            toastr.error(message);
          }
        );
      },
      getGeneral(){
        this.process = true;
        axios.post(window.Laravel.admin_url+'/ajax/get/config',{name:'gozon.general'}).then(
          response => {
            this.general = response.data;
            this.process = false;
          }
        );
      },
    }
  }
</script>
