<template>
  <div id="permalinks-settings">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-info">
          <form method="POST" class="form-horizontal" @submit.prevent="updateNativeAds">
            <div class="box-body">
              <div class="form-group">
                <label for="native-tracking_id" class="col-sm-2 control-label">TrackingID</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="native-tracking_id" v-model="native.tracking_id" required>
                </div>
              </div>
              <div class="form-group">
                <label for="native-linkid" class="col-sm-2 control-label">LinkID</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="native-linkid" v-model="native.linkid" required>
                </div>
              </div>
              <div class="form-group">
                <label for="native-title" class="col-sm-2 control-label">Title</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="native-title" v-model="native.title" required>
                </div>
              </div>
              <div class="form-group">
                <label for="native-search_bar" class="col-sm-2 control-label">Search Bar</label>
                <div class="col-sm-10">
                  <select class="form-control" id="native.search_bar" v-model="native.search_bar" required>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="box-footer">
              <button type="submit" class="btn btn-info pull-right">Save changes</button>
            </div>
          </form>
          <div class="overlay" v-if="process"><i class="fa fa-spinner fa-spin"></i></div>
        </div>
      </div>


    </div>
  </div>
</template>

<script>
  export default {
    data(){
      return {
        native: {},
				process: false,
      }
    },
    mounted(){
      this.getNativeAds();
    },
    methods: {
      updateNativeAds(){
        axios.post(window.Laravel.admin_url+'/ajax/post/updateGoZon',{name:'native-ads',values:this.native}).then(
          response => {
            this.process = false;
            toastr.success("Native Ads Updated.");
          },
          error => {
            this.process = false;
            var message = "Unknown Response."
            if(typeof error.response !== 'undefined' && typeof error.response.data !== 'undefined' && typeof error.response.data.message !== 'undefined')
              message = error.response.data.message;
            toastr.error(message);
          }
        );
      },
      getNativeAds(){
        this.process = true;
        axios.post(window.Laravel.admin_url+'/ajax/get/config',{name:'gozon.native-ads'}).then(
          response => {
            this.native = response.data;
            this.process = false;
          }
        );
      },
    }
  }
</script>
