<template>
  <div id="urlredirection-settings">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-info">
          <div class="box-header with-border">
            <div class="pull-right"><button class="btn btn-info" type="button" @click="showCreateModal">Add New</button></div>
          </div>
          <div class="box-body">
            <table id="urlredirection-datatables" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Redirection Rule</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr v-if="redirects.length" v-for="(redirect,index) in redirects">
                  <td>
                    <strong>From</strong> : {{redirect.from}} <br>
                    <strong>To</strong> : {{redirect.to}} <br>
                    <strong>Type</strong> : {{redirect.type}} <br>
                  </td>
                  <td class="text-center">
                    <button type="button" class="btn btn-xs btn-success edit-redirect" title="Edit" @click="showUpdateModal(index)"><i class="fa fa-edit"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="overlay" v-if="process"><i class="fa fa-spinner fa-spin"></i></div>
        </div>
      </div>

      <div id="createRedirect" class="modal modal-primary fade" data-backdrop="static" role="dialog" style="overflow-y:visible;">
        <div class="modal-dialog">
          <div class="modal-content">
            <form class="form-horizontal form-bordered" @submit.prevent="createRedirect">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" :disabled="process">&times;</button>
                <h4 class="modal-title">Edit URL Redirection Setting</h4>
              </div>

              <div class="modal-body">
                <div class="form-group">
                  <label class="control-label col-md-3" for="newdata-from">From</label>
                  <div class="col-md-9">
                    <input type="text" id="newdata-from" class="form-control" v-model="newdata.from" required>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3" for="newdata-from">To</label>
                  <div class="col-md-9">
                    <input type="text" id="newdata-to" class="form-control" v-model="newdata.to" required>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3" for="newdata-type">Type</label>
    							<div class="col-md-9">
                    <select class="form-control" id="newdata.type" v-model="newdata.type">
                      <option value="301">301 (Moved Permanently)</option>
                      <option value="302">302 (Moved Temporarily)</option>
                    </select>
    							</div>
    						</div>
    					</div>

    					<div class="modal-footer">
    						<button type="button" class="btn btn-outline pull-left" data-dismiss="modal" :disabled="process">Close</button>
    						<button type="submit" class="btn btn-outline" :disabled="process">
    							<span v-if="process"><i class="fa fa-refresh fa-spin"></i> Creating...</span>
    							<span v-else>Create</span>
    						</button>
    					</div>
    				</form>
    			</div>
    		</div>
    	</div>

      <div id="updateRedirect" class="modal modal-primary fade" data-backdrop="static" role="dialog" style="overflow-y:visible;">
        <div class="modal-dialog">
          <div class="modal-content">
            <form class="form-horizontal form-bordered" @submit.prevent="updateRedirect">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" :disabled="process">&times;</button>
                <h4 class="modal-title">Edit URL Redirection Setting</h4>
              </div>

              <div class="modal-body">
                <div class="form-group">
                  <label class="control-label col-md-3" for="current-from">From</label>
                  <div class="col-md-9">
                    <input type="text" id="current-from" class="form-control" v-model="current.from" required>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3" for="current-from">To</label>
                  <div class="col-md-9">
                    <input type="text" id="current-to" class="form-control" v-model="current.to" required>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3" for="current-type">Type</label>
    							<div class="col-md-9">
                    <select class="form-control" id="current.type" v-model="current.type">
                      <option value="301">301 (Moved Permanently)</option>
                      <option value="302">302 (Moved Temporarily)</option>
                    </select>
    							</div>
    						</div>
    					</div>

    					<div class="modal-footer">
    						<button type="button" class="btn btn-outline pull-left" data-dismiss="modal" :disabled="process">Close</button>
    						<button type="submit" class="btn btn-outline" :disabled="process">
    							<span v-if="process"><i class="fa fa-refresh fa-spin"></i> Updating...</span>
    							<span v-else>Update</span>
    						</button>
    					</div>
    				</form>
    			</div>
    		</div>
    	</div>


    </div>
  </div>
</template>

<script>
  export default {
    data(){
      return {
        redirects:[],
        newdata:{},
				current: {},
        current_index: 0,
				process: false,
      }
    },
    mounted(){
      this.getUrlRedirection();
    },
    methods: {
      getUrlRedirection(){
        this.process = true;
        axios.post(window.Laravel.admin_url+'/ajax/get/config',{name:'amanat.urlredirection'}).then(
          response => {
            this.redirects = response.data;
            this.process = false;
          }
        );
      },
      showCreateModal(index){
        this.newdata = {
          from: '',
          to: '',
          type: '301'
        };
        $("#createRedirect").modal();
      },
      showUpdateModal(index){
        this.current = this.redirects[index];
        this.current_index = index;
        $("#updateRedirect").modal();
      },
      createRedirect(){
        this.redirects.push(this.newdata);
        axios.post(window.Laravel.admin_url+'/ajax/post/updateGoZon',{name:'urlredirection',values:this.redirects}).then(
          response => {
            this.process = false;
            this.getUrlRedirection();
            $("#createRedirect").modal("hide");
            toastr.success("URL Redirection Created.");
          },
          error => {
            this.process = false;
            var message = "Unknown Response."
            if(typeof error.response !== 'undefined' && typeof error.response.data !== 'undefined' && typeof error.response.data.message !== 'undefined')
              message = error.response.data.message;
            toastr.error(message);
          }
        );
      },
      updateRedirect(){
        var index = this.current_index;
        this.redirects[index] = this.current;
        axios.post(window.Laravel.admin_url+'/ajax/post/updateGoZon',{name:'urlredirection',values:this.redirects}).then(
          response => {
            this.process = false;
            this.getUrlRedirection();
            $("#updateRedirect").modal("hide");
            toastr.success("URL Redirection Updated.");
          },
          error => {
            this.process = false;
            var message = "Unknown Response."
            if(typeof error.response !== 'undefined' && typeof error.response.data !== 'undefined' && typeof error.response.data.message !== 'undefined')
              message = error.response.data.message;
            toastr.error(message);
          }
        );
      },
    }
  }
</script>
